@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OnlineReviewer</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="file">Выберите файл для рецензирования (*.doc, *.docx):</label>
        <div>
            <input type="file" name="file"/>
            <input type="submit" value="Загрузить файл" />
            <p>@ViewBag.Message</p>
        </div>
        if(ViewBag.FileExists)
        {
            @Html.ActionLink("Скачать файл", "DownloadFile", "Home", new { fileName = ViewBag.FileName }, null);
        }
    }
</div>