@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OnlineReviewer</h1>

    <p>Программа выполняет рецензирование научно-технических текстов: 
    дипломных и курсовых работ, отчетов по лабораторным работам, научных публикаций.</p>

    <p>Программа выполняет поиск слов и фразеологизмов, недопустимых для научно-
    технического стиля изложения, оставляет замечания и рекомендации по их
    исправлению. Словарь запрещенных и не рекомендуемых к использованию слов
    составлен на основе частых ошибок, обнаруженных при рецензировании студенческих работ.</p>

    <p>Загрузите файлс с текстом (изображения и составные объекты проверке не подлежат),
    после проверки вы получите ссылку на скачивание документа с замечаниями.</p>

    @using (Html.BeginForm("Review", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="file">Выберите файл для рецензирования (*.doc, *.docx):</label>
        <div>
            <input type="file" name="file" accept=".docx, .doc"/><br/>
            <input type="submit" value="Загрузить файл" />
            <p>@ViewBag.Message</p>
            <p>@ViewBag.StopWatch</p>
        </div>
        //Если рецензированный файл существует и рецензирован без ошибок, то вывести ссылку на скачивание
        if(ViewBag.FileExists)
        {
            @Html.ActionLink("Скачать файл", "DownloadFile", "Home", new { fileName = ViewBag.FileName }, null);
        }
    }
</div>